#contact-content{
	text-align: left;
	width: 60vw;
	margin-left: 20vw;
	margin-top: 10vh;
}

#contact-table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	font-size: 2vw;
}

#contact-table td{
	padding: 8px;
	height: 2vw;
}

.TableButton{
	border: none;
	outline: none;
	color: rgba(168, 208, 230, 1);
	background: rgba(55, 71, 133, 1);
	font-size: 1.5vw;
	cursor: pointer;
	border-radius: 12px;
	height: 3vw;
	width: 5vw;
	padding: 1px;
}

.No-Design{
	border: none;
	color: rgba(255, 255, 255, 1);
	background-color: rgba(0, 0, 0, 0);
	width: 70%;
	font-size: 1.5vw;
}

.TableButton:hover{
	color: rgba(55, 71, 133, 1);
	background: rgba(168, 208, 230, 1);
}

@media only screen and (max-width: 1000px) {

	#contact-content{
		text-align: left;
		width: 80vw;
		margin-left: 10vw;
		margin-top: 10vh;
	}

	#contact-table {
		font-size: 2.5vw;
	}

	.TableButton{
		font-size: 2.5vw;
		height: 5vw;
		width: 8vw;
	}

	.No-Design{
		font-size: 2.5vw;
	}
}

@media only screen and (max-width: 600px) {

	#contact-content{
		text-align: left;
		width: 100vw;
		margin-left: 0;
		margin-top: 10vh;
	}

	#contact-table {
		font-size: 3.5vw;
	}

	.TableButton{
		font-size: 3.5vw;
		height: 7vw;
		width: 11vw;
	}

	.No-Design{
		font-size: 3.5vw;
	}
}