#contact-content{
	text-align: left;
	width: 60vw;
	margin-left: 20vw;
	margin-top: 10vh;
}

#contact-table {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
	font-size: 2vw;
}

#contact-table td{
	padding: 8px;
	height: 2vw;
}

.TableButton{
	border: none;
	outline: none;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(168, 208, 230, 1);
	font-size: 1.5vw;
	cursor: pointer;
}

.No-Design{
	border: none;
	background-color: rgba(0, 0, 0, 0);
	color: rgba(255, 255, 255, 1);
	width: 70%;
	font-size: 1.5vw;
}

.TableButton:hover{
	color: rgba(248, 233, 161, 1);
}

@media only screen and (max-width: 600px) {

	#contact-content{
		text-align: left;
		width: 100vw;
		margin-left: 0;
		margin-top: 10vh;
	}

	#contact-table {
		font-size: 3.5vw;
	}

	.TableButton{
		font-size: 3.5vw;
	}

	.No-Design{
		font-size: 3.5vw;
	}
}

@media only screen and (max-width: 1000px) {

	#contact-content{
		text-align: left;
		width: 80vw;
		margin-left: 10vw;
		margin-top: 10vh;
	}

	#contact-table {
		font-size: 2.5vw;
	}

	.TableButton{
		font-size: 2.5vw;
	}

	.No-Design{
		font-size: 2.5vw;
	}
}