#home-content{
	text-align: left;
	margin-left: 10vw;
	margin-top: 10vh;
	height: 60vh;
	width: 80vw;
}

strong #name{
	font-size: 8vh;
	padding: 0;
}

strong #position{
	font-size: 4vh;
}

#home-content td{
	width: 4vw;
	padding: 3px;
}

.ContactButtons{
	width: 3vw;
	height: 3vw;
	font-size: 5vh;
	background: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	color: rgba(168, 208, 230, 1);
}

.ContactButtons:hover, .ContactLink:hover{
	color: rgba(248, 233, 161, 1);
}

.ContactLink{
	width: 3vw;
	height: 3vw;
	font-size: 5vh;
	background: rgba(0, 0, 0, 0);
	outline: none;
	border: none;
	color: rgba(168, 208, 230, 1);
}

@media only screen and (max-width: 600px) {

	.ContactButtons{
		width: 7vw;
		height: 7vw;
		font-size: 5vh;
	}

	.ContactLink{
		width: 7vw;
		height: 7vw;
		font-size: 5vh;
	}

	#home-content td{
		width: 10vw;
		padding: 9px;
	}
}

@media only screen and (max-width: 1000px) {

	#home-content td{
		width: 7vw;
		padding: 6px;
	}
}