#portfolio-content{
	width: 50vw;
	height: 64vh;
	margin-left: 25vw;
}

.project{
	width: 20vw;
	height: 24vh;
	text-align: center;
	color: rgba(247, 108, 108, 1);
	background-color: rgba(248, 233, 161, 1);
  	box-shadow: 5px 10px 18px black;
  	-webkit-box-shadow: 5px 10px 18px black;
  	-moz-box-shadow: 5px 10px 18px black;
  	float: left;
  	margin-bottom: 5vw;
  }

.project-right{
	width: 20vw;
	height: 24vh;
	text-align: center;
	color: rgba(247, 108, 108, 1);
	background-color: rgba(248, 233, 161, 1);
  	box-shadow: 5px 10px 18px black;
  	-webkit-box-shadow: 5px 10px 18px black;
  	-moz-box-shadow: 5px 10px 18px black;
  	float: left;
  	margin-left: 10vw;
  	margin-bottom: 5vw;
}

.project .Icon, .project-right .Icon{
	width: 100%;
	float: left;
	font-size: 7vw;
}

.project .title, .project-right .title{
	width: 100%;
	float: left;
	font-size: 2vw;
}

.project .content, .project-right .content{
	width: 100%;
	float: left;
	font-size: 1.3vw;
}

.project .VisitApp, .project-right .VisitApp{
	font-size: 2vw;
	border: none;
	text-decoration: none;
	padding-top: 1vh;
	outline: none;
	width: 10vw;
	color: rgba(168, 208, 230, 1);
	background: rgba(55, 71, 133, 1);
}

.project .VisitApp:hover, .project-right .VisitApp:hover{
	color: rgba(248, 233, 161, 1);
	background: rgba(247, 108, 108, 1);
}

@media only screen and (max-width: 1000px) {
	.project .content, .project-right .content{
		font-size: 1.5vw;
	}
}

@media only screen and (max-width: 700px) {
	.project{
		width: 50vw;
	}

	.project .Icon{
		font-size: 12vw;
	}

	.project .title{
		font-size: 4vw;
	}

	.project .content{
		font-size: 2.5vw;
	}

	.project .VisitApp{
		font-size: 2.5vw;
	}
}

@media only screen and (max-width: 600px) {

	.project .Icon{
		font-size: 15vw;
	}

	.project .title{
		font-size: 6vw;
	}

	.project .content{
		font-size: 3.5vw;
	}

	.project .VisitApp{
		font-size: 3.5vw;
	}
}

@media only screen and (max-width: 500px) {

	.project .Icon{
		font-size: 18vw;
	}

	.project .title{
		font-size: 8vw;
	}

	.project .content{
		font-size: 4vw;
	}

	.project .VisitApp{
		font-size: 4vw;
	}
}