html, body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: -moz-linear-gradient(150deg, #24305e 60%, #f76c6c 60%);
	background: -webkit-linear-gradient(150deg, #24305e 60%, #f76c6c 60%);
	background: linear-gradient(150deg, #24305e 60%, #f76c6c 60%);
	background-repeat: no-repeat;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	overflow: hidden;
}

#contents{
	width: 100vw;
	height: 84vh;
	margin-top: 16vh;
	text-align: center;
	color: rgba(255, 255, 255, 1);
	float: left;
}

@media only screen and (max-width: 600px) {
	#contents{
		margin-top: 30vh;
		height: 100vh;
	}
}